{% spaceless %}
<style>
.screen{
	font-family	: sans-serif;
	background	: #fff !important;
}
.printable{
	font-size	: 11px;
	width		: 100%;
}
.title{
	background	: #fff !important;
}
.header{
	background	: #aaa !important;
	font-weight	: bold;
	font-color	: #333;
	font-size	: 13px !important;
}
tr:nth-child(even){
	background	: #ccc;
}
tr:nth-child(odd){
	background	: #eee;
}
.inner{
	padding		: 5px;
}
h3{
	padding			: 5px;
	margin-bottom	: 7px;
}
.center{
	text-align		: center;
}
.first{
	margin-bottom	: 11px;
}
.t-title{
	font-weight	: bold;
}
.td-first{
	width	: 127px;
}
.data{
	border	: 1px solid;
}
</style>
<div class="screen">
	<h3 class="center">Over Time Detail From {{ from }} To {{ to }}</h3>
	<table class="printable first">
		<tr class="title">
			<td class="inner t-title td-first">Fullname</td>
			<td class="inner t-title">:</td>
			<td class="inner t-title">{{ employee.0.employee_fname }} {{ employee.0.employee_lname }}</td>
		</tr>
		<tr class="title">
			<td class="inner t-title td-first">Company</td>
			<td class="inner t-title">:</td>
			<td class="inner t-title">{{ employee.0.employee_companyname }}</td>
		</tr>
		<tr class="title">
			<td class="inner t-title td-first">Department</td>
			<td class="inner t-title">:</td>
			<td class="inner t-title">{{ employee.0.employee_departmentname }}</td>
		</tr>
	</table>
	<table class="printable">
		<tr class="header">
			<td class="inner data center">Day</td>
			<td class="inner data center">Date</td>
			<td class="inner data center">In</td>
			<td class="inner data center">Out</td>
			<td class="inner data center">Total</td>
			<td class="inner data center">Approved By</td>
		</tr>
		{% if overtime | length > 0 %}
			{% set total = 0 %}
			{% for key, val in overtime %}
				<tr>
					<td class="inner data">{{ val.ot_day }}</td>
					<td class="inner data">{{ val.ot_date }}</td>
					<td class="inner data">{{ val.ot_start }}</td>
					<td class="inner data">{{ val.ot_end }}</td>
					<td class="inner data">{{ val.ot_real }}</td>
					<td class="inner data">{{ val.ot_approvedby }}</td>
				</tr>
				{% set total = total + val.ot_real %}
			{% endfor %}
				<tr class="header">
					<td class="inner data center" colspan="4">Total : </td>
					<td class="inner data" colspan="2">{{ total }}</td>
				</tr>
		{% endif %}
	</table>
</div>
{% endspaceless %}